body {
  background-image: url("/assets/cookie4.jpg");

}

.sign_up_whole {

  padding: 25px;
  background: rgba(255, 255, 255, .6);
  border-radius: 15px;
  margin: 15px;

}
.Reviews{
  font-family: 'Quattrocentro', serif;
  color: #2F1D06;

}

#index-title{
  font-size: 100px;
  font-family: 'Amaranth', serif;
  color: #2F1D06;

}
 #index-welcome{
   font-size: 40px;
   font-family: 'Quattrocentro', serif;
   color: #2F1D06;

 }

 .button {
   font-size: 30px;
   background-color: brown;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
   border-radius: 85px;
    font-weight: bold;
}

.button:hover {
    background-color: #E8D5B7;
    color: black;
    font-weight: bold;
}
 #list{
   font-family: 'Quattrocentro', serif;
  color: #2F1D06;
 }

 #username{
   text-align: center;
   font-family: 'Quattrocentro', serif;
   color: #2F1D06;

 }
