body {
  background-image: url("/assets/cookie4.jpg");

}

.sign_up_whole {

  padding: 25px;
  background: rgba(255, 255, 255, .6);
  border-radius: 15px;
  margin: 15px;

}
.Reviews{
  font-family: 'Quattrocentro', serif;
  color: #2F1D06;

}

#index-title{
  font-size: 100px;
  font-family: 'Bevan', cursive;
  color: #2F1D06;

}
 #index-welcome{
   font-size: 40px;
   font-family: 'Bevan', cursive;
   color: #2F1D06;

 }
 .list{
   font-family: 'Patua One', cursive;
  color: #2F1D06;
 }

 .button {
   font-size: 45px;
   background-color: brown;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
   border-radius: 95px;
    font-weight: bold;

}

.button:hover {
    background-color: #ad824e;
    color: #2F1D06;
    font-weight: bold;
}
 #list{
   font-family: 'Patua One', cursive;
  color: #2F1D06;
 }

 #username{
   text-align: center;
   font-family: 'Bevan', cursive;
   color: #2F1D06;
 }
 #small_forms{
   font-family: 'Patua One', cursive;
   color: #2F1D06;

   font-size: 20px;
 }
 #forms1{
   font-family: 'Patua One', cursive;
   color: #2F1D06;

   font-size: 40px;
 }
 #forms{
   font-family: 'Patua One', cursive;

   font-size: 40px;
 }
